<head>
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
</head>
<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="top-right-btn">
				<button>Subscribe Now</button>
			</li>
			<li id="top-right-btn">
				<button>Log In</button>
			</li>
			<li id="gear-dropdown-btn">
				<i class="fas fa-cog"></i>
				<%= render "shared/gear_dropdown" %>
			</li>
		</ul>
	</nav>
</header>
